.doclinks {
  padding: 3rem 0;
  /* border: 1px solid #ccc; */
}

.heading {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.doclinksWrapper {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  gap: 20px;
}

.doclink {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: inherit;
}

.doclinkSvg {
  height: 100px;
  width: 100px;
}

.doclinkTitle {
  display: block;
  line-height: 1;
  font-weight: 600;
  font-size: var(--ifm-h3-font-size);
}

.doclinkDescription {
  display: block;
  line-height: 1;
  margin-top: 0.35rem;
}
