.sdks {
  padding: 3rem 0;
}

.heading {
  font-size: 1.75rem;
  margin-bottom: 1.75rem;
}

.sdksWrapper {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  gap: 20px;
}

.sdk {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: inherit;
}

.sdkSvg {
  height: 100px;
  width: 100px;
}

.sdkTitle {
  display: block;
  line-height: 1;
  font-weight: 600;
  font-size: var(--ifm-h3-font-size);
}

.sdkDescription {
  display: block;
  line-height: 1;
  margin-top: 0.35rem;
}
