/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #1285FE;
  background: linear-gradient(to bottom, hsl(210.76deg 99.16% 53.33%) 0%, hsl(210.76deg 100% 40.63%) 100%);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroImage {
  max-height: 230px;
  max-width: 230px;
  width: 100%;
}

.heroText {
  color: #fff;
  word-wrap: normal;
}

.heroButton {
  background: #1084fd;
  color: #fff;
  --ifm-button-size-multiplier: 1.5;
}

.twoCol {
  display: flex;
  max-width: 1200px;
  margin: 0 auto 1rem;
}

.twoCol > * {
  flex: 1;
  padding: 3rem 2rem;
}

@media screen and (max-width: 996px) {
  .twoCol {
    display: block;
  }

  .twoCol > * {
    padding: 2rem 2rem 1rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
