.showcase {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}


.titleContainer {
    align-items: center;
}

.title {
    font-size: 50px;
}

.subtitle {
    font-size: 30px;
}

.tile {
    background-color: #f0f0f0;
    padding: 10px;  /* Reduced padding from 16px to 10px */
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    margin: 10px;
}

.tagBar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tagButton {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.selectedTagButton {
    box-shadow: 0 0 10px 2px blue;  /* Glow effect */
}
